
/* ADD YOUR STYLES HERE */
body{
  background-color: white;
}
h1{
  color: black;
  font-family: "Adobe Arabic";
  font-size: 70px;
  text-align: center
}

h2{
  color: red;
  font-family: "Adobe Arabic";
  font-size: 10px;

}
.filter{
  text-align: center;

}

.instruct{
  padding-left: 10px;
  font-size: 18px;


}
table{

  margin-left: 120px;
  margin-top:50px;
}

label{
  font-size: 20px;
}

#ID{
  width: 100px;
}
#placeholder{
  margin-top: 100px;
  width: 450px;
  height: 250px;
  color: black;
}